In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
#___________________________________________________

from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn import metrics
from sklearn.tree import  DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier 
import pandas_profiling

# ------------------------------------------------ extrelty -----------------------------------

In [17]:
extrelty = pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/Downloaded_CS/churn_modelling-master/extrelty.sas7bdat')
extrelty.head(2)

  EXRELACTCD       EXRELACTDE
0      b'FP'  b'CommitmentDo'
1      b'PS'      b'Prospect'

# ------------------------------------------- extrel -------------------------------------------

In [18]:
extrel = pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/Downloaded_CS/churn_modelling-master/extrel.sas7bdat')
extrel.head(2)

     EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN
0  b'0026414'      b'CT' 1995-02-02        NaT
1  b'0026419'      b'FP' 1992-03-01        NaT

In [30]:
extrel.shape

(26689, 4)

In [29]:
extrel.isnull().any()

EXTRELNO      False
EXRELACTCD    False
EXTRELSTDT    False
EXRELDATEN     True
dtype: bool

In [32]:
extrel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26689 entries, 0 to 26688
Data columns (total 4 columns):
EXTRELNO      26689 non-null object
EXRELACTCD    26689 non-null object
EXTRELSTDT    26689 non-null datetime64[ns]
EXRELDATEN    10168 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 834.1+ KB

In [34]:
extrel.describe().T

,count,unique,top,freq,first,last
EXTRELNO,26689,18704,b'0038595',6,NaN,NaN
EXRELACTCD,26689,17,b'FP',11442,NaN,NaN
EXTRELSTDT,26689,2877,1994-11-29 00:00:00,1039,1989-11-01 00:00:00,2007-02-01 00:00:00
EXRELDATEN,10168,2567,1994-12-07 00:00:00,58,1927-10-31 00:00:00,2007-01-25 00:00:00

In [66]:
extrel.EXRELDATEN.head(4)

0          NaT
1          NaT
2   1996-12-24
3   2006-01-31
Name: EXRELDATEN, dtype: datetime64[ns]

In [106]:
extrel.EXTRELSTDT.head(4)

0   1995-02-02
1   1992-03-01
2   1992-03-01
3   1992-03-01
Name: EXTRELSTDT, dtype: datetime64[ns]

In [109]:
extrel.to_csv('/home/rohan/Desktop/abc')

In [108]:
x  = pd.to_timedelta(extrel.EXRELDATEN) - pd.to_timedelta(extrel.EXTRELSTDT)
x

0             NaT
1             NaT
2       1759 days
3       5084 days
4             NaT
5             NaT
6             NaT
7             NaT
8             NaT
9             NaT
10            NaT
11            NaT
12      3518 days
13      4694 days
14            NaT
15            NaT
16            NaT
17            NaT
18        91 days
19      3645 days
20      3902 days
21            NaT
22            NaT
23       274 days
24      4394 days
25            NaT
26            NaT
27            NaT
28            NaT
29            NaT
           ...
26659         NaT
26660         NaT
26661         NaT
26662         NaT
26663         NaT
26664         NaT
26665         NaT
26666         NaT
26667         NaT
26668         NaT
26669         NaT
26670         NaT
26671         NaT
26672         NaT
26673         NaT
26674         NaT
26675         NaT
26676         NaT
26677         NaT
26678         NaT
26679         NaT
26680         NaT
26681         NaT
26682         NaT
26683         NaT
26684         NaT
26685         NaT
26686         NaT
26687         NaT
26688         NaT
Length: 26689, dtype: timedelta64[ns]

# ----------------------------------------- comcls --------------------------------------------

In [19]:
comcls = pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/Downloaded_CS/churn_modelling-master/comclas.sas7bdat')
comcls.head(2)

  CLASCODE                    CLASDESC
0    b'CT'                 b'CTS-item'
1    b'RI'  b'Request for information'

# ------------------------------------ commaint ------------------------------------------

In [11]:
commaint = pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/Downloaded_CS/churn_modelling-master/commaint.sas7bdat')

# ----------------------------------- commediu -------------------------------------------

In [12]:
commediu = pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/1 - Data for Churn Modeling/commediu.sas7bdat')

# ---------------------------------------- Nameaddr ------------------------------------------

In [20]:
Nameaddr =  pd.read_sas('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/2. NGO-FUND RAISING ATTRITION- CLASSIFICATION/Downloaded_CS/churn_modelling-master/nameaddr.sas7bdat')
Nameaddr.head(2)

     EXTRELNO NAME1TITLE POSTCODE LANGUACODE
0  b'0000019'      b'HR'  b'2500'      b'NL'
1  b'0000020'      b'HR'  b'9550'      b'NL'