# Importing Library

In [11]:
from datetime import datetime,date
data = pd.read_excel('/home/rohan/Desktop/test.xlsx')
data

  Time_differ Break_time Lunch_time
0    00:20:18   00:00:00   01:40:40
1    00:20:18   00:30:18   01:40:30
2    04:20:18   00:00:00   02:40:30
3    00:20:18   00:20:18   03:40:30
4    00:00:00   00:30:18   04:40:30
5    00:20:18   00:20:18   05:40:30

In [15]:
data[['Time_differ','Break_time']]x

          Time_differ          Break_time
0 2019-01-22 00:20:18 2019-01-22 00:00:00
1 2019-01-22 00:20:18 2019-01-22 00:30:18
2 2019-01-22 04:20:18 2019-01-22 00:00:00
3 2019-01-22 00:20:18 2019-01-22 00:20:18
4 2019-01-22 00:00:00 2019-01-22 00:30:18
5 2019-01-22 00:20:18 2019-01-22 00:20:18

In [4]:
data.dtypes

Time_differ    object
Break_time     object
Lunch_time     object
dtype: object

In [12]:
#data = data.applymap(lambda x:datetime.combine(date.today(),x))
data

          Time_differ          Break_time          Lunch_time
0 2019-01-22 00:20:18 2019-01-22 00:00:00 2019-01-22 01:40:40
1 2019-01-22 00:20:18 2019-01-22 00:30:18 2019-01-22 01:40:30
2 2019-01-22 04:20:18 2019-01-22 00:00:00 2019-01-22 02:40:30
3 2019-01-22 00:20:18 2019-01-22 00:20:18 2019-01-22 03:40:30
4 2019-01-22 00:00:00 2019-01-22 00:30:18 2019-01-22 04:40:30
5 2019-01-22 00:20:18 2019-01-22 00:20:18 2019-01-22 05:40:30

In [13]:
data.dtypes

Time_differ    datetime64[ns]
Break_time     datetime64[ns]
Lunch_time     datetime64[ns]
dtype: object

In [14]:
data.Time_differ - data.Break_time

0            00:20:18
1   -1 days +23:50:00
2            04:20:18
3            00:00:00
4   -1 days +23:29:42
5            00:00:00
dtype: timedelta64[ns]

# ----------------------------------------CaseStudy---------------------------------------------

In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

#____________________________________________________

from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn import metrics
import pandas_profiling
from sklearn.neighbors import KNeighborsClassifier

/home/rohan/anaconda3/lib/python3.6/site-packages/pandas_profiling/plot.py:15: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/home/rohan/anaconda3/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/rohan/anaconda3/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/kernelapp.py", line 486, in start
    self.io_loop.start()
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/tornado/platform/asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "/home/rohan/anaconda3/lib/python3.6/asyncio/base_events.py", line 422, in run_forever
    self._run_once()
  File "/home/rohan/anaconda3/lib/python3.6/asyncio/base_events.py", line 1432, in _run_once
    handle._run()
  File "/home/rohan/anaconda3/lib/python3.6/asyncio/events.py", line 145, in _run
    self._callback(*self._args)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/tornado/platform/asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2903, in run_ast_nodes
    if self.run_code(code, result):
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-50778d14b44c>", line 5, in <module>
    import seaborn as sns
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/seaborn/__init__.py", line 6, in <module>
    from .rcmod import *
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/seaborn/rcmod.py", line 5, in <module>
    from . import palettes, _orig_rc_params
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/seaborn/palettes.py", line 12, in <module>
    from .utils import desaturate, set_hls_values, get_color_cycle
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/seaborn/utils.py", line 11, in <module>
    import matplotlib.pyplot as plt
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/matplotlib/pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "/home/rohan/anaconda3/lib/python3.6/site-packages/matplotlib/backends/__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use(BACKEND)

# Datasets

###### convert all dates to Datetime from object type

#### -----------------------------------------------------------------------Customer_details-----------------------------------------------------------------------

- Gender has 99 / 4.2% missing values Missing --> RandomFill
- StreeID has 39 / 1.7% zeros Zeros --> Randomfill
- DOB - object --> convert dtype

In [5]:
cust = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/customers.txt',sep=";")
cust.head(2)

   CustomerID Gender         DOB  District   ZIP  StreeID
0      908289      F  24/01/1957         5  3660    42555
1       55837      M  31/01/1948         1  2620    24910

In [382]:
cust.describe().T

,count,mean,std,min,25%,50%,75%,max
CustomerID,2356.0,534904.313243,382112.919352,3407.0,130850.25,616509.0,852283.50,1167808.0
District,2356.0,3.455008,2.045992,1.0,1.00,5.0,5.00,8.0
ZIP,2356.0,3432.750424,1272.641443,1070.0,2640.00,3530.0,3700.00,9800.0
StreeID,2356.0,37159.372666,17344.839571,2251.0,25367.50,38676.5,43818.25,146620.0

- Fixing StreeiD by filling it with Random values bw (20000,50000)
- We are doing it randomly coz only 2% values are 0 so we can do it.

In [431]:
## using replace to replace a particular value in a DF column with random values.
#cust.replace('StrrID',{0:np.arange(1,39)})

In [7]:
cust.loc[cust.StreeID == 0,['StreeID']]  = cust[cust.StreeID == 0].StreeID.apply(lambda x:np.random.randint(20000,50000))
#cust[cust0,cust[cust.StreeID == 0].StreeID.apply(lambda x:np.random.randint(20000,50000)))

- Limit arg provides the flexibility to fill first n values with a speified_value

In [10]:
# Filliing half M and half F using Limit argument in Fill_Na
#cust.Gender.fillna('F',limit= 50,inplace= True)
#cust.Gender.fillna('M',limit= 50,inplace= True)
cust.Gender.isnull().sum()

0

In [12]:
cust.describe().T

,count,mean,std,min,25%,50%,75%,max
CustomerID,2356.0,534904.313243,382112.919352,3407.0,130850.25,616509.0,852283.50,1167808.0
District,2356.0,3.455008,2.045992,1.0,1.00,5.0,5.00,8.0
ZIP,2356.0,3432.750424,1272.641443,1070.0,2640.00,3530.0,3700.00,9800.0
StreeID,2356.0,37159.372666,17344.839571,2251.0,25367.50,38676.5,43818.25,146620.0

#### --------------------------------------------------------------------------subscription-----------------------------------------------------------------------

In [434]:
subs.shape

(15472, 22)

###### A lot of variables are highly corelated,so we can consider removing a few


- FormulaDiscount has 334 / 2.2% missing values Missing --> Drop it
- FormulaID has 334 / 2.2% missing values Missing 
- GrossFormulaPrice has 334 / 2.2% missing values Missing --> Drop it
- NetFormulaPrice has 334 / 2.2% missing values Missing
- NetNewspaperPrice has 334 / 2.2% missing values Missing
- ProductDiscount has 334 / 2.2% missing values Missing --> Drop it
- TotalCredit has 4877 / 31.5% missing values Missing 
- TotalDiscount has 334 / 2.2% missing values Missing
- TotalPrice has 334 / 2.2% missing values Missing
- Unnamed: 4 has 15459 / 99.9% missing values Missing

- -------------------------------------------------------------------------------

- Pattern - denotes delivery pattern in a week

In [435]:
#pandas_profiling.ProfileReport(subs)

In [13]:
subs = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/subscriptions.txt',sep="\t")
subs.head(2)

,SubscriptionID,CustomerID,ProductID,Pattern,Unnamed: 4,StartDate,EndDate,NbrNewspapers,NbrStart,RenewalDate,...,PaymentDate,FormulaID,GrossFormulaPrice,NetFormulaPrice,NetNewspaperPrice,ProductDiscount,FormulaDiscount,TotalDiscount,TotalPrice,TotalCredit
0,1000024.0,1150045.0,8.0,1111110.0,=VLOOKUP(D2;$E$15462:$F$15473;2;0),18/01/2010,17/04/2010,76.0,25,17/03/2010,...,27/01/2010,8552,79,79,1.039.474,0,0,0,79,0
1,1000082.0,1150046.0,8.0,1111110.0,NaN,14/01/2010,12/03/2010,50.0,25,3/03/2010,...,11/02/2010,10017,519.737,29.6,0.592,0,223.737,223.737,29.6,0

#### --------------------------------------------------------------------------------Delivery---------------------------------------------------------------

In [437]:
#pandas_profiling.ProfileReport(Del)

- DeliveryClass has 3388 / 12.8% missing values Missing --> treated using "fillna('bfill')"
- DeliveryContext has 15148 / 57.2% missing values Missing - Defined only for abnormal(ABN) case --> Dropped

In [383]:
# delivery type - [DR - delivery reruting]&[Main Delivery]

Del = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/delivery.txt',sep=";")
Del.head(2)

,SubscriptionID,DeliveryType,DeliveryClass,DeliveryContext,StartDate,EndDate
0,1000024,MD,NOR,NaN,18/01/2010,17/04/2010
1,1000082,MD,ABN,NaN,12/02/2010,13/02/2010

In [369]:
Del.DeliveryClass.value_counts()

NOR    21996
ABN     1110
Name: DeliveryClass, dtype: int64

In [370]:
Del.info()ComplaintID 	CustomerID 	ProductID 	ComplaintDate 	ComplaintType

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26494 entries, 0 to 26493
Data columns (total 6 columns):
SubscriptionID     26494 non-null int64
DeliveryType       26494 non-null object
DeliveryClass      23106 non-null object
DeliveryContext    11346 non-null object
StartDate          26494 non-null object
EndDate            26494 non-null object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

#### preparing the data

In [371]:
# As can be seen the variable DeliveryConetxt is very much dependent on DeliveryClass
# (out of the 15k DeliveryConetxt value,14K values are for DeliveryClass 'NOR')

# We would be dropping the DeliveryConetxt column

Del[Del.DeliveryClass == 'NOR'].DeliveryContext.isnull().sum()

14125

In [373]:
#Dropping the Deliveryconetxt column - too many missing values & also Multicollinearity
#Del.drop(columns='DeliveryContext',inplace=True)

In [374]:
Del.head(2)

   SubscriptionID DeliveryType DeliveryClass   StartDate     EndDate
0         1000024           MD           NOR  18/01/2010  17/04/2010
1         1000082           MD           ABN  12/02/2010  13/02/2010

#### Using KNN for predicting the missing 12% values for DeliveryClass var is not useful coz we have very less columns to train the model

In [507]:
#Del = pd.get_dummies(Del,prefix='Deliverytype_',columns=['DeliveryType'],drop_first= True)

#________Converting Datatypes to Datetime from string class____

# Del['StartDate'] = pd.to_datetime(Del['StartDate'])
# Del['EndDate'] = pd.to_datetime(Del['EndDate'])

#### Based on bins(subscription_id) of data, we can create synthetic labels - Not working 

#### Moving to "bfill" for filling the values for the categroical value

In [367]:
#Del['Decile'] = pd.qcut(Del.index,10,labels=False)

In [375]:
Del.head(2)

   SubscriptionID DeliveryType DeliveryClass   StartDate     EndDate
0         1000024           MD           NOR  18/01/2010  17/04/2010
1         1000082           MD           ABN  12/02/2010  13/02/2010

In [166]:
#v = Del.loc[Del.Decile == 0,'DeliveryClass'].fillna(value ='NOR',limit = int(Del.loc[Del.Decile==0,'DeliveryClass'].isnull().sum()*0.8))
#v = Del.loc[Del.Decile == 0,'DeliveryClass'].fillna(value ='ABN')
#v.isnull().sum()
#Del.DeliveryClass = v
#Del.DeliveryClass.isnull().sum()

In [365]:
# v = []
# for x in range(10):
#     v3 = Del.loc[Del.Decile == x,'DeliveryClass'].fillna('NOR',limit = int(Del[Del.Decile==x].shape[0]*0.8))
#     v3 = Del.loc[Del.Decile == x,'DeliveryClass'].fillna('ABN')
#     v3 = v1.tolist()
#     v.extend(v3)
    
# Del['DeliveryClass'] = pd.Series(v3)

In [376]:
Del.DeliveryClass.fillna(method = 'bfill',inplace=True)

In [378]:
Del.DeliveryClass.value_counts()

NOR    25176
ABN     1318
Name: DeliveryClass, dtype: int64

In [381]:
Del.head(2)

   SubscriptionID DeliveryType DeliveryClass   StartDate     EndDate
0         1000024           MD           NOR  18/01/2010  17/04/2010
1         1000082           MD           ABN  12/02/2010  13/02/2010

#### -------------------------------------------------------------------Formula----------------------------------------------------------------------------------

- Duration in month

In [384]:
Formula = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/formula.txt',sep=";")
Formula.head(2)

   FormulaID  FormulaCode FormulaType  Duration
0      10011         2051         CAM        12
1      10013         2051         CAM        12

#### --------------------------------------------------------------------Credit------------------------------------------------------------------------------

In [ ]:
#pandas_profiling.ProfileReport(credit)

- nbrNewspapers -  no of newspaper on credit  

- --------------------------------------------------------------------------------
- Missing_value

- NbrNewspapers has 532 / 27.4% missing values Missing - only 7 unique values --> converted to 0 [0 rs]
- ProcessingDate has 38 / 2.0% missing values Missing --> filled using fillna() 
- Dataset has 350 duplicate rows Warning --> to fix

In [411]:
credit = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/credit.txt',sep=";")
credit.head(2)

,SubscriptionID,ActionType,ProcessingDate,CreditSource,Amount,NbrNewspapers
0,1002057,EN,18/05/2009,COM,1.0400,1.0
1,1002089,EN,06/10/2010,COM,0.8783,1.0

#### preparing the data

- since we have 900 "1" and 500 "0" and around "500" NAN, we can convert NAN to 0 coz:
      - They should actually be 0
      - The data would get balanced by "1" & "0" [1000 vs 1000]

In [412]:
credit.groupby(['NbrNewspapers']).count()

,SubscriptionID,ActionType,ProcessingDate,CreditSource,Amount
NbrNewspapers,,,,,
0.0,487,487,453,487,487
1.0,914,914,914,914,914
5.0,1,1,0,1,1
14.0,1,1,1,1,0
15.0,1,1,1,1,0
22.0,2,2,0,2,2
28.0,1,1,1,1,0
40.0,1,1,0,1,1

In [425]:
## All NAN values are for "CC" ActionType
credit.loc[credit.NbrNewspapers.isnull(),['ActionType','NbrNewspapers']].head(2)

   ActionType  NbrNewspapers
54         CC            NaN
92         CC            NaN

In [432]:
### Equating all NAN values to 0

#credit.loc[credit.NbrNewspapers.isnulbl(),'NbrNewspapers'] = 0
credit.NbrNewspapers.isnull().sum() #-- No Null Values

0

- Filling the missing "Processing_date" column

In [440]:
#credit.ProcessingDate.fillna(method= 'ffill',inplace=True)
credit.head()

,SubscriptionID,ActionType,ProcessingDate,CreditSource,Amount,NbrNewspapers
0,1002057,EN,18/05/2009,COM,1.0400,1.0
1,1002089,EN,06/10/2010,COM,0.8783,1.0
2,1002089,EN,22/12/2010,COM,0.8783,1.0
3,1002089,EN,23/12/2010,COM,0.8783,1.0
4,1002089,EN,24/12/2010,COM,0.8783,1.0

#### ----------------------------------------------------------------------Complains-------------------------------------------------------------------

In [ ]:
#pandas_profiling.ProfileReport(complains)

- Complain_type -  (1-9)
- Solution_type - (1-4)
- complain_date -  object type



###### Missing_Value
- ProductID has 414 / 10.0% missing values Missing
- SolutionType has 1092 / 26.5% missing values Missing
- Feedback_type - FeedbackType has 2502 / 60.7% missing values

In [2]:
complains = pd.read_csv('/home/rohan/Documents/ROHAN_DA/ALABS/___STATS___ -  cls 10 onwards/Class_20 Case_study_ML/Case_study/1. NEWS PUBLISHING COMPANY-CLASSIFICATION-ATTRITION/2 - NPC Retention Data/complaints.txt',sep=";")
complains.head(2)

,ComplaintID,CustomerID,ProductID,ComplaintDate,ComplaintType,SolutionType,FeedbackType
0,181932,3464,8.0,14/10/2010,7,2.0,NaN
1,168698,3464,8.0,19/07/2010,1,2.0,3.0

#### Fixing the data

- **complaint_type** and **Feedback_type** are very similar columns moreover Feedback_type has 60% NAN so we are dropping it

In [4]:
#Dropping the column 
#complains.drop(columns= 'FeedbackType',inplace=True)

In [5]:
complains.head(2)

,ComplaintID,CustomerID,ProductID,ComplaintDate,ComplaintType,SolutionType
0,181932,3464,8.0,14/10/2010,7,2.0
1,168698,3464,8.0,19/07/2010,1,2.0

- Using **KNN** for predicting the 1000~ values for solutiontype(dependent on Complaint_type)

In [6]:
## we can see here that soltiontype has total 4125 obs, out of which 10xy are NAN
## out of remaining 3k, solutiontype 1,2 comprise 2k both of which are pretty much dependent on
## on complainttype = 1,2

x = complains.groupby(['SolutionType','ComplaintType']).count()
x.loc[:2]
#x.xs(1) # can also be used like this - cross section

                            ComplaintID  CustomerID  ProductID  ComplaintDate
SolutionType ComplaintType
1.0          1                     1027        1027        911           1027
             2                        9           9          8              9
             3                       25          25         20             25
             4                        2           2          2              2
             6                        1           1          1              1
             7                       35          35         31             35
             8                        1           1          1              1
             9                      308         308        286            308
2.0          1                     1005        1005        841           1005
             2                        4           4          4              4
             3                       33          33         28             33
             7                       34          34         30             34
             9                       16          16         10             16

In [7]:
## Out of all null values for solutiontype we have the division based on complainttype

x = complains[complains.SolutionType.isnull()]
x.groupby(['ComplaintType']).count()

               ComplaintID  CustomerID  ProductID  ComplaintDate  SolutionType
ComplaintType
1                      821         821        819            821             0
2                       50          50         50             50             0
3                       19          19         19             19             0
4                        4           4          4              4             0
5                       16          16         16             16             0
6                        3           3          3              3             0
7                       87          87         87             87             0
8                        6           6          6              6             0
9                       86          86         86             86             0

In [7]:
complains.head(2)

,ComplaintID,CustomerID,ProductID,ComplaintDate,ComplaintType,SolutionType
0,181932,3464,8.0,14/10/2010,7,2.0
1,168698,3464,8.0,19/07/2010,1,2.0

In [8]:
complain_M = complains[['ComplaintType','ComplaintDate','SolutionType']]

- converting **datetime to integer** so to use it for modelling

In [9]:
complain_M.head(3)

   ComplaintType ComplaintDate  SolutionType
0              7    14/10/2010           2.0
1              1    19/07/2010           2.0
2              1    11/06/2010           2.0

In [10]:
complain_M.dtypes

ComplaintType      int64
ComplaintDate     object
SolutionType     float64
dtype: object

In [11]:
complain_M['ComplaintDate'] = pd.to_datetime(complain_M.ComplaintDate)

/home/rohan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
complain_M.dtypes

ComplaintType             int64
ComplaintDate    datetime64[ns]
SolutionType            float64
dtype: object

In [13]:
complain_M.ComplaintDate = complain_M.ComplaintDate - pd.to_datetime('1900-01-01')
complain_M.ComplaintDate  = complain_M.ComplaintDate.dt.days.astype('int')
complain_M.ComplaintDate.head()

/home/rohan/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    40463
1    40376
2    40486
3    39926
4    39943
Name: ComplaintDate, dtype: int64

In [14]:
complain_M.head(2)

   ComplaintType  ComplaintDate  SolutionType
0              7          40463           2.0
1              1          40376           2.0

In [15]:
train = complain_M[complain_M.SolutionType.notnull()]

## This is not the testing data but the data on which the model is to be applied
predict_test = complain_M[complain_M.SolutionType.isnull()]

print('train_data:',train.shape,'|| predict_data:',predict_test.shape)

train_data: (3033, 3) || predict_data: (1092, 3)

In [16]:
x_train,x_test,y_train,y_test = train_test_split(train[train.columns.difference(['SolutionType'])],train['SolutionType'],test_size = 0.2)

In [17]:
print('x_train:',x_train.shape,'|| x_test:',x_test.shape,'|| y_train:',y_train.shape,'|| y_test:',y_test.shape)

x_train: (2426, 2) || x_test: (607, 2) || y_train: (2426,) || y_test: (607,)

In [18]:
knn_grid  = GridSearchCV(KNeighborsClassifier(),{'n_neighbors':[3,5,7,9],'leaf_size':[10,30,40,50,60] },scoring='accuracy',cv=5)
knn_grid.fit(x_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': [3, 5, 7, 9], 'leaf_size': [10, 30, 40, 50, 60]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [19]:
knn_grid.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=10, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [20]:
knn_grid.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=10, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [21]:
test_reault = knn_grid.best_estimator_.predict(x_test)

In [22]:
metrics.accuracy_score(y_test,test_reault)

0.5601317957166392

#### -----------------------

#### Also tried other methods but the accuracy was too less ~ 50-60%, So sticking with KNN

In [23]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import BaggingClassifier
# from sklearn.tree import DecisionTreeClassifier

# # rf_cls = GridSearchCV(estimator= RandomForestClassifier(oob_score= True),cv = 5,scoring= 'accuracy',
# #                       param_grid={'n_estimators':[50,100,200,300],'max_depth':[2,5,10,20]}
# #                      )
# bag_cls = GridSearchCV(estimator= BaggingClassifier(oob_score= True),cv = 5,scoring= 'accuracy',
#                       param_grid={'n_estimators':[100,200,300]},n_jobs = -1
#                      )


# bag_cls.fit(x_train,y_train)

#### Recreating data

In [24]:
train

      ComplaintType  ComplaintDate  SolutionType
0                 7          40463           2.0
1                 1          40376           2.0
2                 1          40486           2.0
3                 1          39926           3.0
4                 1          39943           3.0
5                 1          40216           2.0
7                 1          39436           1.0
8                 1          39365           2.0
9                 1          39932           2.0
10                1          39860           2.0
11                1          39767           1.0
12                1          39772           1.0
13                1          39672           1.0
14                1          39966           2.0
15                1          39966           2.0
16                1          39866           2.0
17                1          39862           1.0
18                1          39863           1.0
19                9          40082           1.0
22                1          39613           1.0
23                9          40244           1.0
24                9          40336           1.0
25                9          40416           1.0
26                9          40419           1.0
27                9          40366           1.0
28                9          40418           1.0
29                9          40489           1.0
30                9          40458           1.0
31                9          40216           1.0
32                9          40428           1.0
...             ...            ...           ...
4095              1          40454           2.0
4096              1          40470           2.0
4097              1          40462           2.0
4098              1          40474           1.0
4099              1          40405           1.0
4100              1          40448           2.0
4101              1          40448           1.0
4102              1          40395           1.0
4103              1          40303           1.0
4104              1          40537           2.0
4105              1          40534           1.0
4106              1          40502           2.0
4107              1          40365           1.0
4108              1          40370           1.0
4109              1          40371           1.0
4110              1          40517           1.0
4111              1          40372           1.0
4112              1          40373           1.0
4113              1          40534           1.0
4114              1          40559           2.0
4115              3          40454           2.0
4116              1          40431           2.0
4117              1          40413           2.0
4118              1          40416           2.0
4119              1          40515           1.0
4120              8          40285           3.0
4121              1          40285           1.0
4122              1          40304           2.0
4123              1          40215           1.0
4124              1          40534           1.0

[3033 rows x 3 columns]

### --------------------------------------------------------------------------------------------------------------------------