### Select_K_Best

In [1]:
from sklearn.feature_selection import SelectKBest

SelectKBest()

SelectKBest(k=10, score_func=<function f_classif at 0x7ff20f250158>)

- `score_func : callable`
    
    Function taking two arrays X and y, and returning a pair of arrays
    (scores, pvalues) or a single array with scores.
    Default is f_classif (see below "See also"). The default function only
    works with classification tasks.

#### My_take
- f_classif : This is most probab calc Anova @ backend
- `Anova` is applicable for categorical IV & continuos DV, basically Anova calc means(of DV) instead of count()[chi_square] in a given cont. table

- chi2 : This is some form of chisquare

- f_redression : calc some F stats for continuos IV & DV pairs

#### Actual Def given

- f_classif: ANOVA F-value between label/feature for classification tasks.
- mutual_info_classif: Mutual information for a discrete target.
- chi2: Chi-squared stats of non-negative features for classification tasks.
- f_regression: F-value between label/feature for regression tasks.
- mutual_info_regression: Mutual information for a continuous target.
- SelectPercentile: Select features based on percentile of the highest scores.
- SelectFpr: Select features based on a false positive rate test.
- SelectFdr: Select features based on an estimated false discovery rate.
- SelectFwe: Select features based on family-wise error rate.
- GenericUnivariateSelect: Univariate feature selector with configurable mode.

## Chi_squared Test`

- for chisquare test:
    - Ho = independence amoung the vars
    
    let p value(significane level) = 0.1
    
       - so if we have p < 0.1 we reject Ho --> vars are dependent
       
       - else we have p > 0.1 we accept Ho --> vars are independent

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import scipy.stats
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# from subprocess import check_output
# print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.
survey = pd.read_csv("/home/rohan/Desktop/jupyter/ROHAN_ALL/SM_&_ML/Datasets/anonymous-survey-responses.csv")
survey.head()

,Have you ever taken a course in statistics?,Do you have any previous experience with programming?,What's your interest in data science?,"Just for fun, do you prefer dogs or cat?"
0,Yep,Nope,I want to get a job where I use data science,Cats ?±
1,Yep,I have quite a bit of experience,I want to get a job where I use data science,Dogs ?¶
2,Yep,I have a little bit of experience,It will help me in my current job,Dogs ?¶
3,Nope,I have a little bit of experience,Just curious,Cats ?±
4,"Yes, but I've forgotten everything",I have quite a bit of experience,I want to get a job where I use data science,Neither ?…

#### Scipy chisquare vs sklearn chi2 ????????

https://stats.stackexchange.com/questions/315697/%CF%87%C2%B2-chi-squared-statistic-of-scipy-stats-chi2-contingency-vs-sklearn-feature-se
It appears from reading Scikit-learn χ² (chi-squared) statistic and corresponding contingency table that sklearn does not perform a standard contingency table analysis when calculating the χ² statistic between two categorical variables.

For example, given the data below

In [176]:
# libraries
import scipy.stats as sps
import pandas as pd

# data
data = pd.DataFrame({'gender': ['female']*60+['female']*54+['female']*46+['female']*41+['male']*40+['male']*44+['male']*53+['male']*57,
                     'education level': ['high school']*60+['bachelors']*54+['masters']*46+['phd']*41+['high school']*40+['bachelors']*44+['masters']*53+['phd']*57})

# contingency table
contingency_table = pd.crosstab(index=data['gender'],
                                columns=data['education level'])

In [177]:
contingency_table

education level  bachelors  high school  masters  phd
gender
female                  54           60       46   41
male                    44           40       53   57

In [178]:
sps.chi2_contingency(contingency_table, correction=False)

(8.006066246262538,
 0.045886500891747214,
 3,
 array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
        [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))

- As can be seen chivalue using scipy is 8.006 vs sklearn 4.65

In [179]:
# libraries
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import chi2

# label encoder for categorical features
le = LabelEncoder()

# transforming the categorical features
data['education level le'] = pd.DataFrame(le.fit_transform(data['education level']))
data['gender le'] = pd.DataFrame(le.fit_transform(data['gender']))

In [189]:
chi_2, p_value = chi2(data['education level le'].values.reshape(-1, 1),
                   data['gender le'].values)

chi_2

array([4.65571839])

#### Chi_square bw pair of features

In [57]:
def chi_p_val(DF):
    li = []
    lt = []
    for x in DF.columns:
        scipy.stats.chisquare(DF[x].value_counts())
        for y in DF.columns:
            if x != y:
                f = x,y
                lt.append([x,y])
                con = pd.crosstab(DF[x],DF[y])
                chi_stat,p_value,Dof,cont_table = scipy.stats.chi2_contingency(con)
                li.extend([p_value])
            else:
                pass
    chi_P_value = pd.DataFrame(np.vstack(lt),columns=['1st_col','2nd_col'])

    chi_P_value['chi_square_p_value'] = li
    return chi_P_value

- you cant use `chi_P_value` outside the scope of UDF

In [48]:
chi_p_val(survey)

,1st_col,2nd_col,chi_square_p_value
0,Have you ever taken a course in statistics?,Do you have any previous experience with progr...,0.031955
1,Have you ever taken a course in statistics?,What's your interest in data science?,0.002120
2,Have you ever taken a course in statistics?,"Just for fun, do you prefer dogs or cat?",0.227119
3,Do you have any previous experience with progr...,Have you ever taken a course in statistics?,0.031955
4,Do you have any previous experience with progr...,What's your interest in data science?,0.000170
5,Do you have any previous experience with progr...,"Just for fun, do you prefer dogs or cat?",0.557436
6,What's your interest in data science?,Have you ever taken a course in statistics?,0.002120
7,What's your interest in data science?,Do you have any previous experience with progr...,0.000170
8,What's your interest in data science?,"Just for fun, do you prefer dogs or cat?",0.100908
9,"Just for fun, do you prefer dogs or cat?",Have you ever taken a course in statistics?,0.227119
10,"Just for fun, do you prefer dogs or cat?",Do you have any previous experience with progr...,0.557436
11,"Just for fun, do you prefer dogs or cat?",What's your interest in data science?,0.100908

#### Sourcecode

In [45]:
li = []
lt = []
for x in survey.columns:
    scipy.stats.chisquare(survey[x].value_counts())
    for y in survey.columns:
        if x != y:
            f = x,y
            lt.append([x,y])
            con = pd.crosstab(survey[x],survey[y])
            chi_stat,p_value,Dof,cont_table = scipy.stats.chi2_contingency(con)
            li.extend([p_value])
        else:
            pass
          

chi_P_value = pd.DataFrame(np.vstack(lt),columns=['1st_col','2nd_col'])

chi_P_value['chi_square_p_value'] = li

In [46]:
chi_P_value

,1st_col,2nd_col,chi_square_p_value
0,Have you ever taken a course in statistics?,Do you have any previous experience with progr...,0.031955
1,Have you ever taken a course in statistics?,What's your interest in data science?,0.002120
2,Have you ever taken a course in statistics?,"Just for fun, do you prefer dogs or cat?",0.227119
3,Do you have any previous experience with progr...,Have you ever taken a course in statistics?,0.031955
4,Do you have any previous experience with progr...,What's your interest in data science?,0.000170
5,Do you have any previous experience with progr...,"Just for fun, do you prefer dogs or cat?",0.557436
6,What's your interest in data science?,Have you ever taken a course in statistics?,0.002120
7,What's your interest in data science?,Do you have any previous experience with progr...,0.000170
8,What's your interest in data science?,"Just for fun, do you prefer dogs or cat?",0.100908
9,"Just for fun, do you prefer dogs or cat?",Have you ever taken a course in statistics?,0.227119
10,"Just for fun, do you prefer dogs or cat?",Do you have any previous experience with progr...,0.557436
11,"Just for fun, do you prefer dogs or cat?",What's your interest in data science?,0.100908

#### -------------------------------------------------------

#### These are 1Way_chi_square 

- The chi square test tests the null hypothesis that the categorical data has the given frequencies.

In [10]:
scipy.stats.chisquare(survey["Have you ever taken a course in statistics?"].value_counts())

Power_divergenceResult(statistic=108.50120096076861, pvalue=2.7495623442639547e-24)

In [216]:
scipy.stats.chisquare(survey["What's your interest in data science?"].value_counts())

Power_divergenceResult(statistic=1267.8518815052041, pvalue=1.3908441117864023e-274)

In [11]:
scipy.stats.chisquare(survey["Do you have any previous experience with programming?"].value_counts())

Power_divergenceResult(statistic=906.2001601281024, pvalue=7.55591487886036e-195)

#### 2 Way Chi_Squared test

Chi-square test of independence of variables in a contingency table.

This function computes the chi-square statistic and p-value for the hypothesis test of independence of the observed frequencies in the contingency table [R258] observed. The expected frequencies are computed based on the marginal sums under the assumption of independence; see scipy.stats.contingency.expected_freq. The number of degrees of freedom is (expressed using numpy functions and attributes):

In [49]:
cont = pd.crosstab(survey["Have you ever taken a course in statistics?"],survey["What's your interest in data science?"])

In [50]:
cont

What's your interest in data science?,I want to get a job where I use data science,It will help me in my current job,Just curious,other
Have you ever taken a course in statistics?,,,,
Nope,160,47,40,9
Yep,378,116,38,22
"Yes, but I've forgotten everything",303,88,41,7

In [51]:
chi_stat,p_value,Dof,cont_table = scipy.stats.chi2_contingency(cont)

In [52]:
chi_stat

20.65045801286874

In [53]:
p_value

0.002119565795128293

In [226]:
expected_values = pd.DataFrame(cont_table,columns=cont.columns,index=cont.index)

expected_values

What's your interest in data science?,I want to get a job where I use data science,It will help me in my current job,Just curious,other
Have you ever taken a course in statistics?,,,,
Nope,172.374700,51.445957,24.390713,7.788631
Yep,373.029624,111.332266,52.783026,16.855084
"Yes, but I've forgotten everything",295.595677,88.221777,41.826261,13.356285